.logo-img {
    height: 80px;
    margin: 0;
}
.navBar-Space {
    margin-left: auto;
}

a {
    text-decoration: none;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    border-radius: 0 !important;
    background-color: #a89a8f !important;
}
