.footerContainer {
    margin-top: 50px;
    height: 100px;
    background: #8a766c;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
